ADMIN_TELEGRAM_ID=
ADMIN_WHATSAPP_PHONE=
FLUTTERWAVE_CLIENT_ID=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
GOOGLE_CREDENTIALS_JSON=
GOOGLE_PRIVATE_KEY=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
NEGOTIATOR_FEE_NAIRA=
SPREADSHEET_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
USE_POLLING=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=